@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans);


 h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family: 'Montserrat', sans-serif;
}

 .quizContainer {
    background-color: #4d3474;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;

    position: relative;
}
.nextButton {
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.question {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: lightgrey;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: #9bcf60;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("../images/musicnote.png");
  

}
.timer {
  color: #9bcf60;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  padding: 6px;
  margin: 0px auto 10px;
  border: 1px solid #c6c6c2;
  border-radius: 5px;
  width: 80px;
  background-color: linen;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
